@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: antiquewhite;
    height: 100vh;
}

.sidebar {
    position: relative;
    width: 260px;
    height: 100vh;
    background-color: white;
    /* box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5); */
    overflow: auto;
    border-radius: 10px;
    position: relative;
}


.sidebar .sidebar-logo {
    top: 0;
    left: 0;
    img {
        width: 100%;
        height: 70px;
        padding: 15px;
    }
    /* position: fixed; */
}

.sidebar .sidebar-menu {
    background-color: white;
    width: 100%;
    height: 100%;
}

.sidebar .sidebar-menu .item {
    position: relative;
    cursor: pointer;
}

.sidebar .sidebar-menu .item a {
    color: black;
    font-size: 13px;
    padding: 15px 20px;
    display: block;
    line-height: 40px;
    position: relative;
    text-decoration: none;
}

.sidebar .sidebar-menu .item a:hover {
    i {
        color: white;
    }

    background-color: #063bc0;
    color: white;
    border-radius: 0 5px 5px 0;

    transition: 0.3 ease;
}

.sidebar .sidebar-menu .item i {
    color: rgb(245, 90, 90);
    font-size: 20px;
    margin-right: 15px;
}

.sidebar .sidebar-menu .item a .fa-angle-right {
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 30px;
}

.sidebar .sidebar-menu .item .sub-sidebar-menu {
    display: none;
}

.sidebar .sidebar-menu .item .sub-sidebar-menu a {
    padding-left: 45px;
}

.sidebar .sidebar-menu .item .sub-sidebar-menu a:hover {
    background-color: rgb(95, 97, 241);
}

.rotate {
    transform: rotate(90deg);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    text-align: center;
}